name: Maven build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      packages: write
    name: Maven build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.3

    - name: Set up JDK 17
      uses: actions/setup-java@v3.11.0
      with:
        java-version: '17'
        distribution: 'adopt'
        java-package: jdk
        architecture: x64

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn package --file pom.xml

    - name: Publish dough
      if: github.event_name != 'pull_request'
      run: mvn -s .mvn/settings.xml -B deploy --file pom.xml -Denv.MAVEN_ACCOUNT=${{ vars.MAVEN_ACCOUNT }} -Denv.MAVEN_PASSWORD=${{ secrets.MAVEN_PASSWORD }} --errors
      env:
        GITHUB_TOKEN: ${{ github.token }}
